* {
	background: ghostwhite;
	color: #1A1E24;
	font-family: Palatino-Roman;
}

code {
	font-family: monospace;
	background-color: #1A1E24;
	border: 1px solid ghostwhite;
	color: ghostwhite;
	border-radius: 10px;
	display: block;
	padding: 10px;
	margin: 20px;
	white-space: pre-wrap;
}

img {
	margin-top: 20px;
	border-radius: 10px;
	max-width: 90%;
}

samp {
	font-family: monospace;
	font-size: large;
	color: ghostwhite;
	background: #1A1E24;
}


html {
	max-width: 80ch;
	margin: auto;
}

footer {
	padding-top: 20px;
	text-align: center;
}

ins::before {
	content: "+";
	font-family: monospace;
	color: limegreen;
	background: #1A1E24;
}

ins {
	font-family: monospace;
	background: #1A1E24;
	color: ghostwhite;
	text-decoration: none;
}

button {
	border-color: #1A1E24;
}

@media (prefers-color-scheme: dark) {
	* {
		color: ghostwhite;
		background: #1A1E24;
	}

	button {
		border-color: ghostwhite;
	}
}