body
{
	background: #F8F8FF;
}
h1 
{
	font-family: Palatino-Roman;
	font-size: 50px;
	font-weight: 100;
	color: #000000;
	margin: 0;
}
h2
{
	max-width: 700px;
	font-family: OutputSans;
	font-weight: 500;
	font-size: 31;
	margin-bottom: 0;
}
h3
{
	max-width: 700px;
	text-align: left;
	font-family: OutputSans;
	font-weight: 300;
	font-size: 24;
	margin-bottom: 0;
}
ul
{
	max-width: 700px;
}
li
{
	text-align: left;
}
h4
{
	max-width: 700px;
	font-family: OutputSans;
	font-weight: 300;
	margin: 0;
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	-webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
   	-webkit-box-orient: vertical;
}
p
{
	text-align: left;
	max-width: 700px;
	font-family: OutputSans;
	font-weight: normal;
	margin-bottom: 0;
}
a.button
{
	 border-radius: 10px;
	 align-items: left;
  	 border: 1px solid #000000;
  	 padding: 10px;
	 margin-bottom: 10px;
}
details
{
	text-align: left;
	font-family: OutputSans;
	font-weight: 300;
	width: 700;
}
nav
{
	margin-top: none;
}
a
{
	font-family: OutputSans;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	display: inline-block;
  position: relative;
}
a:hover:after{
	transform: scaleX(1);
  transform-origin: bottom left;
}
a:after
{
	  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F8F8FF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  }
hr {
    max-width: 700px;
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #F8F8FF;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
blockquote,figcaption
{		
	text-align: left;
	max-width: 300;
	font-family: OutputSans;
	font-weight: 300;
	font-size: 12;
}
figcaption
{
	text-align: right;
}

@media (prefers-color-scheme: dark)
{
a.button
{
	 border-radius: 10px;
	 align-items: left;
  	 border: 1px solid #FFFFFF;
  	 padding: 10px;
	 margin-bottom: 10px;
}
body 
{
	background-color: #1A1E24;
	color:  #F8F8FF;
}
h1,h2,h3,h4,h5,h6,a
{
	color:  #F8F8FF;
}
hr{
	color:  #F8F8FF;
}
hr:after
{
	background-color: #1A1E24;
}
